<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900');
    </style>
</head>
<body>
<div>
    <section style="margin: 0 15px;color:#425b76;">
        <h2 style="margin: 40px 0 27px 0;text-align: center;">O'zbekiston Respublikasi, Oliy ta'lim, fan va innovatsiyalar vazirligi huzuridagi bilim va malakalarni baholash agentligining axborotnoma ilmiy-uslubiy jurnali.</h2>
        <hr style="border:0;border-top: 1px solid rgba(66,91,118,0.3);max-width: 50%">
        <p style="font-size:15.5px;font-weight: bold;margin:40px 20px 15px 20px;">Hurmatli {{ user.full_name }}, Siz yuborgan {{ article.title }} maqolangiz rad etildi.</p>
        <a href="https://ejournal.uzbmb.uz/" target="_blank">Saytga o'tish</a>
    </section>
</div>
</body>
</html>