{% extends 'user_app/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Genders" %}{% endblock %}
{% block content %}
    <div id="content" class="content">

        <h2 class="page-header viewArticleFont">
            {% trans "Jinslar ro'yxati" %}
        </h2>

        <div class="panel-body forshadow" style="background-color: #ffffff; border-radius: 5px; padding: 10px;">
            <div class="container" style="padding: 15px;">
                <button type="button" style="float: left"
                        data-url="{% url 'create_gender' %}"
                        class="btn btn-primary btn-sm create_gender_btn"><i
                        class="fa fa-plus mr-1"></i>{% trans "Yangi jins yaratish" %}
                </button>
                <br>
                <br>
                <table class="table table-hover table-fixed table-responsive-lg">

                    <thead>
                    <tr>
                        <th><strong>{% trans "Tr" %}</strong></th>
                        <th><strong>{% trans "Nomi" %}</strong></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    {% if objects.count > 0 %}
                        {% for item in objects %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ item.name }}</td>
                                <td></td>
                                <td>
                                    <button class="btn btn-outline-warning btn-sm edit_gender_btn"
                                            data-url="{% url 'edit_gender' item.id %}"><i
                                            class="far fa-lg fa-fw fa-edit"></i></button>
                                    <button class="btn btn-outline-danger btn-sm delete_gender_btn"
                                            data-url="{% url 'delete_gender' item.id %}"><i
                                            class="far fa-lg fa-fw fa-trash-alt"></i></button>
                                </td>
                            </tr>
                        {% endfor %}

                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}