{% extends 'user_app/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Foydalanuvchilar" %}{% endblock %}
{% block content %}
    <div id="content" class="content">

        <h2 class="page-header viewArticleFont">
            {% trans "Foydalanuvchilar ro'yxati" %}
        </h2>

        <div class="panel-body forshadow" style="background-color: #ffffff; border-radius: 5px; padding: 10px;">
            <div class="container" style="padding: 5px;">
                <table class="table table-hover table-fixed table-responsive-lg">

                    <thead>
                    <tr>
                        <th><strong>{% trans "Tr" %}</strong></th>
                        <th><strong>{% trans "FIO" %}</strong></th>
                        <th><strong>{% trans "Rollar" %}</strong></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    <p><b>{% trans "Umumiy:"%}</b> {{ p_n }}</p>
                    {% if page_obj.object_list.count > 0 %}
                        {% for item in page_obj.object_list %}
                            <tr>
                                <th scope="row">{{ forloop.counter0|add:page_obj.start_index }}</th>
                                <td>{{ item.full_name }}</td>
                                <td>
                                    {% for foo in item.roles.all %}
                                        <span class="badge badge-light">{{ foo.name }}</span>
                                    {% endfor %}

                                </td>
                                <td></td>
                                <td>
                                    <button class="btn btn-outline-info btn-sm view_user_btn" data-url="{% url 'view_user' item.id %}">
                                        <i class="far fa-lg fa-fw fa-eye"></i></button>
                                    <button class="btn btn-outline-warning btn-sm edit_user_btn" data-url="{% url 'edit_user' item.id %}">
                                        <i class="far fa-lg fa-fw fa-edit"></i></button>
                                    <button class="btn btn-outline-danger btn-sm delete_user_btn" data-url="{% url 'delete_user' item.id %}" {% if item == request.user or item.is_superuser %}
                                    disabled
                                    {% endif %} >
                                        <i class="far fa-lg fa-fw fa-trash-alt"></i></button>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
                <div class="row">
                <div class="col-md-12">
                    {% include 'user_app/includes/pagination.html' %}
                </div>
            </div>

            </div>

        </div>
    </div>
{% endblock %}