{% load i18n %}
{% load static %}
<form class="edit_journal_form" id="edit_journal_form" method="post" data-url="{% url 'edit_journal' journal.id %}">
    {% csrf_token %}
    {{ form.media }}
    <div class="modal fade" id="edit_journal_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans "Jurnalni o'zgartirish" %}</h5>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body">
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-sm-3 col-form-label">{% trans "Nomi" %} <span
                                class="text-danger">*</span></label>
                        <div class="col-md-9 col-sm-9">
                            {{ form.name }}
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-sm-3 col-form-label">{% trans "Yili" %} <span
                                class="text-danger">*</span></label>
                        <div class="col-md-9 col-sm-9">
                            {{ form.year }}
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-sm-3 col-form-label">{% trans "Nomeri" %} <span
                                class="text-danger">*</span></label>
                        <div class="col-md-9 col-sm-9">
                            {{ form.number }}
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-sm-3 col-form-label">{% trans "Jurnalni bosh qismini yuklang" %} <span
                                class="text-danger">*</span></label>
                        <div class="col-md-9 col-sm-9">
                            {{ form.file_head_pdf }}
                        </div>
                    </div>
                     <div class="form-group row m-b-15">
                        <label class="col-md-3 col-sm-3 col-form-label">{% trans "Rasm" %} <span
                                class="text-danger">*</span></label>
                        <div class="col-md-9 col-sm-9">
                            {{ form.image }}
                        </div>
                    </div>
                    <div class="form-group row m-b-15">
                        <label class="col-md-3 col-sm-3 col-form-label">{% trans "Holati" %} <span
                                class="text-danger">*</span></label>
                        <div class="col-md-9 col-sm-9">
                            {{ form.status }}
                        </div>
                    </div>
                     <div class="form-group row m-b-15">
                        <label class="col-md-3 col-sm-3 col-form-label">{% trans "Nashr holati" %} <span
                                class="text-danger">*</span></label>
                        <div class="col-md-9 col-sm-9">
                            {{ form.is_publish }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-white" data-dismiss="modal">{% trans "Yopish" %}</a>
                    <button type="submit" class="btn btn-primary edit-journal-btn"><span class="spinner-grow spinner-grow-sm" id="edit-journal-btn-spinner" style="display: none"></span><span id="btn-text-edit">{% trans "Saqlash" %}</span></button>
                </div>
                <br>
            </div>
        </div>
    </div>
</form>
<script src="{% static '/assets/js/demo/form-plugins.demo.js' %}"></script>
<script src="{% static '/assets/plugins/parsleyjs/dist/parsley.min.js' %}"></script>


