{% extends 'article_app/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
    {% trans "Jurnallar" %}
{% endblock %}
{% block content %}
    <div class="row viewArticleFont" style="background-color: white; padding:10px; border-radius: 4px; box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;">
        <div class="container">
            <br>
            <center><h4 class="title">{% trans "Nashr etilgan jurnallar" %}</h4></center>
            <br>
            <div class="row">
                {% for ob in objects %}
                    <div class="card forshadow" style="width:120px; margin: 1%">
                        <img class="card-img-top" src="{{ ob.year_img.url }}" alt="No Image" style="width:100%">
                        <div class="card-body">
                            <a href="{% url 'journal_year_list' ob.year %}" class="btn btn-outline-primary btn-block">{{ ob.year }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <br>
        </div>
    </div>
    <br>
{% endblock content %}