{% load i18n %}
{% load static %}
<div id="footer-copyright" class="footer-copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                &copy; {% trans "Bilim va malakalarni baholash agentligi" %}
            </div>
            <div class="col-md-6 text-md-right">
                 <a href="https://www.facebook.com/dtmuzb/" class="btn btn-social-icon btn-facebook btn-sm"><span
                        class="fab fa-facebook"></span></a>
                <a href="https://t.me/BaholashUz" class="btn btn-social-icon btn-twitter btn-sm"><span
                        class="fab fa-telegram"></span></a>
                <a href="https://instagram.com/dtmuzb/" class="btn btn-social-icon btn-google btn-sm"><span
                        class="fab fa-instagram"></span></a>
                <a href="https://www.youtube.com/@BaholashUz" class="btn btn-social-icon btn-google btn-sm"><span
                        class="fab fa-youtube"></span></a>
            </div>
        </div>
    </div>
</div>