{% load i18n %}
{% load static %}
{% with request.resolver_match.url_name as url_name %}
    <div class="md3-left-sidebar">
        <div class="md3-sidebar-header">
            <i class="material-icons" style="font-size:18px;vertical-align:middle;margin-right:4px;">menu_book</i>
            {% trans "Bo'limlar" %}
        </div>
        <ul class="left_sidebar_menus"></ul>
    </div>

    <div style="margin-top:16px;">
        <a href="{% url 'last_journal' %}" class="md3-btn md3-btn-tonal" style="width:100%;justify-content:center;">
            <i class="material-icons" style="font-size:18px;">auto_stories</i>
            {% trans "So'nggi nashr" %}
        </a>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            let url = '{% url 'load_sidebar_menus' %}'.toString();
            let base_url = "{{ url_name }}";
            $.ajax({
                type: 'GET',
                url: url,
                success: function (response) {
                    let lang = response.lang;
                    $('.left_sidebar_menus').empty();
                    for (let item of response.menus) {
                        let link = "/" + lang + item.url;
                        if (lang === 'uz') {
                            link = item.url;
                        }
                        let isActive = base_url === item.url_name.toString() ? ' active' : '';
                        let temp = `<li class="${isActive}" id="left_menu_${item.id}">` +
                            `<a href="${link}">${item.name}</a></li>`;
                        $('.left_sidebar_menus').append(temp);
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    </script>
{% endwith %}
