<!-- begin theme-panel -->
{% load i18n %}
<div class="theme-panel" style="margin-top: 20%;">
    <a href="javascript:;" data-click="theme-panel-expand" class="theme-collapse-btn"><i class="fa fa-phone"></i></a>
    <div class="theme-panel-content">
        <b>{% trans "Savollar tug‘ilganda" %}</b>
        <br>
        <i class="fa fa-phone-volume"></i> &nbsp;<span>+998(95) 515 68 68</span>
        <br>
        <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;<a href="">Info_im@uzbmb.uz</a>
    </div>
</div>
<!-- end theme-panel -->