{% load i18n %}
<div class="modal fade" id="UserModal">
    <div class="modal-dialog">
        <form method="post" enctype="multipart/form-data" action="{% url 'edit_state' state.id %}">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans "Holatni o'zgartirish" %}</h5>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body">
                    <table id="data-table-default"
                           class="table table-bordered table-td-valign-middle">
                        <tbody>
                        <tr>
                            <th class="text-nowrap">{% trans "Nomi" %}</th>
                            <td class="text-nowrap">{{ form.name }}</td>
                        </tr>
                        <tr>
                            <th class="text-nowrap">{% trans "Holat" %}</th>
                            <td class="text-nowrap">{{ form.status }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-white" data-dismiss="modal">{% trans "Yopish" %}</a>
                    <button type="submit" class="btn btn-primary">{% trans "Saqlash" %}</button>
                </div>
            </div>
        </form>
    </div>
</div>