{% load i18n %}
<form method="post" id="delete_article_form">
{% csrf_token %}
<div class="modal fade" id="delete_article_modal">
    <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{% trans "Maqolani o'chirish" %}</h4>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body">
                    <b><i>{{ article.title }}</i></b><br>
                    <hr>
                    <span style="font-size: small">{% trans "Bu maqolani o'chirishga ishonchingiz komilmi?" %}</span>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-white" data-dismiss="modal">{% trans "Yoq" %}</a>
                    <button type="submit" class="btn btn-primary">{% trans "Ha" %}</button>
                </div>
            </div>
    </div>
</div>
</form>
<script>
    $(document).ready(function(){
        const $myRemoveArticleForm = $('#delete_article_form');
        $myRemoveArticleForm.submit(function (e) {
        e.preventDefault();

        const $formData = $myRemoveArticleForm.serialize();

        $.ajax({
            type: 'POST',
            url: "{% url 'delete_article' article.id %}",
            data: $formData,
            success: function (response) {
                $('#delete_article_modal').modal('hide');
                console.log(response);
                if (response.result){
                    swal({
                        title: response.message,
                        timer: 2000,
                    });
                        location.reload(true);
                } else {
                    alert("Xatolik");
                }
                
            },
            error: function (error) {
                console.log(error);
            }
        });

        return false;
    });
    });
</script>
