{% extends 'user_app/base.html' %}
{% load i18n %} {% load static %} {% block title %} Change
    Password {% endblock %}
{% block content %}
    <div id="content" class="content">
        <h1 class="page-header">{% trans "Parolni o‘zgartirish" %}</h1>
        <form id="change_password_form" method="POST" class="form-control-with-bg forshadow" data-url="{% url 'change_password' %}">
            {% csrf_token %}
            <div id="wizard">
                <div style="background-color: #f8f8f8">
                    <div id="step-1">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <br/>
                                <legend
                                        class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse"
                                        style="text-align: center">
                                    {% trans "Parol o'zgartirish" %}
                                </legend>

                                <div class="form-group row m-b-10">
                                    <label class="col-lg-3 text-lg-right col-form-label">{% trans "Eski parol" %}</label>
                                    <div class="col-lg-9 col-xl-6">
                                        <input
                                                type="password"
                                                name="old_password"
                                                autocomplete="current-password"
                                                autofocus
                                                id="id_old_password"
                                                class="form-control id_old_password"
                                                placeholder="{% trans "Eski parol" %}" />
                                    </div>
                                </div>
                                <div class="form-group row m-b-10">
                                    <label class="col-lg-3 text-lg-right col-form-label"
                                    >{% trans "Yangi parol" %}
                                    </label>
                                    <div class="col-lg-9 col-xl-6">
                                        <input
                                                type="password"
                                                name="new_password1"
                                                autocomplete="new-password"
                                                id="id_new_password1"
                                                class="form-control id_new_password1"
                                                placeholder="{% trans 'Yangi parol' %}"
                                        />
                                    </div>
                                </div>
                                <div class="form-group row m-b-10">
                                    <label class="col-lg-3 text-lg-right col-form-label"
                                    >{% trans "Yangi parolni takrorlang" %}
                                    </label>
                                    <div class="col-lg-9 col-xl-6">
                                        <input
                                                type="password"
                                                name="new_password2"
                                                autocomplete="new-password"
                                                id="id_new_password2"
                                                class="form-control id_new_password2"
                                                placeholder="{% trans 'Yangi parolni takrorlang' %}"
                                        />
                                    </div>
                                </div>
                                <br/>
                                <div class="form-group row m-b-10">
                                    <label class="col-lg-3 text-lg-right col-form-label"></label>
                                    <div class="col-lg-9 col-xl-6">
                                        <button type="button" class="btn btn-success btn-block change_pass_btn">
                                            {% trans "Saqlash" %}
                                        </button>
                                    </div>
                                </div>
                                <br/>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <br/>
        <div class="row">
            <div class="col-lg-2 col-xs-2"></div>
            <div class="col-lg-8 col-xs-8" id="change_password_page_info">

                <div class="alert alert-warning forshadow">
                    <strong>{% trans "Ogohlantirish!" %}</strong>
                    <ul>
                        <li>{% trans "Siz kiritgan joriy parolni to'g'ri kiriting." %}</li>
                        <li>{% trans "Siz kiritgan yangi parollar bir - biriga mos kelishi kerak." %}</li>
                        <li>{% trans "Kamida 8 ta belgidan iborat bo'lsin." %}</li>
                    </ul>
                </div>

            </div>
            <div class="col-lg-2 col-xs-2"></div>
        </div>
    </div>
{% endblock %}
