{% extends 'user_app/base.html' %}
{% load i18n %}
{% block base_content %}
    <div class="container p-5">
        <h2 class="font-weight-bold mt-3">{% trans "Password Reset Confirm" %}</h2>
        <hr>
        <p>{% trans "Please enter your new password." %}</p>
        <form method="POST">
            {% csrf_token %}
{#            {{ form }}#}
            <div class="form-group">
                <input type="password" name="new_password1" class="form-control" placeholder="New Password"
                       required/>
            </div>
            <div class="form-group">
                <input type="password" name="new_password2" class="form-control"
                       placeholder="Confirm Password"
                       required/>
            </div>
            <button class="btn btn-success" type="submit">{% trans "Reset password" %}</button>
        </form>
    </div>
{% endblock %}