{% extends 'user_app/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Ekspertlar ro'yxati" %}{% endblock %}
{% block content %}
    <div id="content" class="content">
        <h2 class="page-header">
            {% trans "Ekspertlar ro'yxati" %}
        </h2>
        {% csrf_token %}
        <div class="panel-body forshadow table-responsive" style="background-color: #ffffff; border-radius: 5px; padding: 1em;">
            <table class="styled-table table-hover display dt-responsive compact nowrap" id="expertsListsForAdmin1" style="width: 100%">
                <thead>
                <tr class="dataGrid">
                    <th>{% trans "ID" %}</th>
                    <th>{% trans "Familiya" %}</th>
                    <th>{% trans "Ism" %}</th>
                    <th>{% trans "Otasini ismi" %}</th>
                    <th>{% trans "Fan" %}</th>
                    <th>{% trans "Level" %}</th>
                    <th>{% trans "PNFL" %}</th>
                    <th>{% trans "Sender" %}</th>
                    <th>{% trans "Checker" %}</th>
                    <th>{% trans "Blocked" %}</th>
                    <th>{% trans "Amal" %}</th>
                </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>{% trans "Familiya" %}</th>
                        <th>{% trans "Ism" %}</th>
                        <th>{% trans "Otasini ismi" %}</th>
                        <th>{% trans "Fan" %}</th>
                        <th>{% trans "Level" %}</th>
                        <th>{% trans "pnfl" %}</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div id="ViewExpertAdmin1Div"></div>
    <div id="EditExpertAdmin1Div"></div>
    <script type="text/javascript">
        $(document).ready(function () {
            initExpertTable();
            
            function initExpertTable() {
                let table = $('#expertsListsForAdmin1').DataTable({
                layout: {
                    topFinish: {
                        buttons: [
                            {
                                extend: 'copyHtml5',
                                exportOptions: {
                                    columns: [0, ':visible']
                                }
                            },
                            {
                                extend: 'excelHtml5',
                                autoFilter: true,
                                sheetName: 'Exported data',
                                exportOptions: {
                                    columns: ':visible'
                                }
                            },
                            {
                                extend: 'pdfHtml5',
                                exportOptions: {
                                    columns: ':visible'
                                }
                            },
                            'colvis'
                        ]
                    }
                },
                columnDefs: [
                        {className: 'dt-left', targets: '_all'},
                    ],
                {#stateSave: true,#}
                destroy: true,
                orderCellsTop: true,
                ajax: {
                    type: 'POST',
                    url: "{% url 'load_experts_admin1' %}",
                    data: {
                        csrfmiddlewaretoken: getCookie('csrftoken')
                    },
                    datatype: "json",
                },
                columns: [
                    {data: "id", },
                    {data: "last_name"},
                    {data: "first_name"},
                    {data: "middle_name"},
                    {data: "subject_name"},
                    {data: "level_name"},
                    {data: "jshshr"},
                    {
                        data: "is_sender",
                        bSortable: false,
                        render: function (data, type, row) {
                            let icon_msg1 = ``;
                            if (data){
                                icon_msg1 += `<i class="fa fa-user-check fa-lg" style="color: green"></i>`;
                            } else {
                                icon_msg1 += `<i class="fas fa-user-times fa-lg" style="color: red"></i>`;
                            }
                            return icon_msg1;
                        }
                    },
                    {
                        data: "is_checker",
                        bSortable: false,
                        render: function (data, type, row) {
                            let icon_msg2 = ``;
                            if (data){
                                icon_msg2 += `<i class="fa fa-user-check fa-lg" style="color: green"></i>`;
                            } else {
                                icon_msg2 += `<i class="fas fa-user-times fa-lg" style="color: red"></i>`;
                            }
                            return icon_msg2;
                        }
                    },
                    {
                        data: "is_blocked",
                        bSortable: false,
                        render: function (data, type, row) {
                            let icon_msg = ``;
                            if (data){
                                icon_msg += `<i class="fa fa-lock fa-lg" aria-hidden="true" style='color: red'></i>`;
                            } else {
                                icon_msg += `<i class="fa fa-unlock fa-lg" aria-hidden="true" style='color: green'></i>`;
                            }
                            return icon_msg;
                        }
                    },
                    {
                        targets: 2,
                        data: null,
                        bSortable: false,
                        render: function (data, type, row) {
                            let btn =``;
                            let view_expert_url = "{% url 'view_expert' %}"
                            let block_expert_url = "{% url 'blocking_expert' %}"
                            let un_block_expert_url = "{% url 'un_blocking_expert' %}"
                            let edit_expert_permission_url = "{% url 'edit_expert_permission_url' %}"

                            btn += `<button type="button" class="btn btn-outline-primary admin1ViewExpertInfo forshadow" data-toggle="tooltip" title="Ma'lumot" data-id="${data.id}" data-url="${view_expert_url}"><i class="fa fa-info-circle fa-lg"></i></button> &nbsp;`;
                            if (data['is_blocked']){
                                btn += `<button type="button" class="btn btn-outline-success admin1UnBlockExpert forshadow" data-toggle="tooltip" title="Blockdan chiqarish" data-id="${data.id}" data-url="${un_block_expert_url}"><i class='fas fa-unlock fa-lg'></i></button>&nbsp`;
                                btn += `<button type="button" class="btn btn-outline-warning forshadow" disabled><i class="fas fa-user-edit fa-lg"></i></button> &nbsp;`;
                            } else {
                                btn += `<button type="button" class="btn btn-outline-danger admin1BlockExpert forshadow" data-toggle="tooltip" title="Blocklash" data-id="${data.id}" data-url="${block_expert_url}"><i class="fas fa-lock fa-lg"></i></button>&nbsp`;
                                btn += `<button type="button" class="btn btn-outline-warning admin1EditExpertPermission forshadow" data-toggle="tooltip" title="Rol berish" data-id="${data.id}" data-url="${edit_expert_permission_url}"><i class="fas fa-user-edit fa-lg"></i></button> &nbsp;`;
                            }
                            return btn
                        }
                    },
                ],
                serverSide: true,
                ordering: true,
                paging: true,
                processing: true,
                searchDelay: 800,
                info: true,
                bInfo: true,
                bSort: true,
                order: [],
                lengthMenu: [
                    [10, 25, 50, 100, -1],
                    [10, 25, 50, 100, "All"],
                ],
                initComplete: function () {
                    this.api().columns([0, 1, 2, 3, 6]).every(function (i) {
                        let column = this;
                        let title = column.footer().textContent;
                        // Create input element and add event listener
                        $('<input type="text" class="form-control" style="width:100%" placeholder="' + title + '" />')
                            .appendTo($(column.footer()).empty())
                            .on('keyup change clear', function () {
                                if (column.search() !== this.value) {
                                    column.search(this.value).draw();
                                }
                            });
                    });
                    // Adding select filter for specific columns
                    this.api().columns([4, 5]).every(function (i) {
                        let column = this;
                        let select = $('<select class="form-control" style="width:100%"><option value="">---</option></select>')
                            .appendTo($(column.footer()).empty())
                            .on('change', function () {
                                let val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
                                column.search($(this).val(), {exact: true}).draw();
                            });
                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '" class="form-control" style="width:100%">' + d + '</option>')
                        });

                    });

                    // Adding select filter for specific columns
                    this.api().columns([7,8]).every( function (i) {
                        let column = this;
                        let select = $('<select class="form-control" style="width:100%"><option value="">---</option></select>')
                            .appendTo( $(column.footer()).empty() )
                            .on( 'change', function () {
                                let val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
                                column.search($(this).val(), {exact: true}).draw();
                            } );

                            column.data().unique().sort().each( function ( d, j ) {
                                if (d === false){
                                    select.append( '<option value="'+d+'" class="form-control" style="width:100%">Yo\'q</option>' )
                                }
                                if (d === true){
                                    select.append( '<option value="'+d+'" class="form-control" style="width:100%">Ha</option>' )
                                }
                                } );
                    } );
                    
                    // Adding select filter for specific columns
                    this.api().columns([9]).every( function (i) {
                        let column = this;
                        let select = $('<select class="form-control" style="width:100%"><option value="">---</option></select>')
                            .appendTo( $(column.footer()).empty() )
                            .on( 'change', function () {
                                let val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
                                column.search($(this).val(), {exact: true}).draw();
                            } );

                            column.data().unique().sort().each( function ( d, j ) {
                                if (j === 0){
                                    select.append( '<option value="'+d+'" class="form-control" style="width:100%">Unblock</option>' )
                                }
                                if (j === 1){
                                    select.append( '<option value="'+d+'" class="form-control" style="width:100%">Blocked</option>' )
                                }
                                } );
                    } );
                    
                },
                fixedHeader: {
                footer: true
                }
            });
        }

            $('#expertsListsForAdmin1 tbody').on('click', '.admin1ViewExpertInfo', function (e) {
                e.preventDefault();
                
                let id = $(this).data('id');
                let url = $(this).data('url');

                $.ajax({
                    type: 'GET',
                    url: '' + url + id + '/',
                    success: function (response) {
                        $('#ViewExpertAdmin1Div').html(response);
                        $('#view_expert_info_admin1_modal').modal({backdrop: 'static', keyboard: false}, 'show');
                    },
                    error: function (error) {
                        alert(error);
                    },
                });
            });

            $('#expertsListsForAdmin1 tbody').on('click', '.admin1BlockExpert', function (e) {
                e.preventDefault();
                let id = $(this).data('id');
                let url = $(this).data('url');

                $.ajax({
                    type: 'GET',
                    url: '' + url + id + '/',
                    success: function (response) {
                         if (response['error'] === 1) {
                             swal({
                                icon: 'success',
                                timer: 1500,
                            });
                             initExpertTable();
                        } else {
                             swal({
                                title: 'Diqqat!',
                                text: response.message,
                                icon: 'error',
                                timer: 3500,
                            });
                        }
                    },
                    error: function (error) {
                        alert(error);
                    },
                });
            });
            
            $('#expertsListsForAdmin1 tbody').on('click', '.admin1UnBlockExpert', function (e) {
                e.preventDefault();
                let id = $(this).data('id');
                let url = $(this).data('url');

                $.ajax({
                    type: 'GET',
                    url: '' + url + id + '/',
                    success: function (response) {
                         if (response['error'] === 1) {
                             swal({
                                icon: 'success',
                                timer: 1500,
                            });
                             initExpertTable();
                        } else {
                             swal({
                                title: 'Diqqat!',
                                text: response.message,
                                icon: 'error',
                                timer: 3500,
                            });
                        }
                    },
                    error: function (error) {
                        alert(error);
                    },
                });
            });
            
            $('#expertsListsForAdmin1 tbody').on('click', '.admin1EditExpertPermission', function (e) {
                e.preventDefault();
                let id = $(this).data('id');
                let url = $(this).data('url');

                $.ajax({
                    type: 'GET',
                    url: '' + url + id + '/',
                    success: function (response) {
                        $("#EditExpertAdmin1Div").html(response);
                        $("#edit_expert_permission_modal").modal({backdrop: 'static', keyboard: false}, 'show');
                    },
                    error: function (error) {
                        alert(error);
                    },
                });
            });
        });
    </script>
{% endblock %}